<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqsoft.tongji.dao.ProjectAmountDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wqsoft.tongji.model.ProjectAmountDetail" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="amount_type" property="amountType" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="AddTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="AddBy" property="addby" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, project_id, amount_type, amount, pay_time, remark, AddTime, AddBy, UpdateTime, 
    UpdateBy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_amount_detail
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from project_amount_detail
    where project_id = #{projectId}
    ORDER by pay_time desc
  </select>

  <select id="selectByProjectIdList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from project_amount_detail
    where project_id in
    <foreach collection="projectList" item="project" open="(" separator="," close=")">
      #{project.id}
    </foreach>
    ORDER by project_id
  </select>

	<select id="selectByProjectIdAmount" resultType="java.math.BigDecimal" parameterType="map" >
    select  ifnull(sum(amount),0) from project_amount_detail
    where project_id = #{id} and amount_type = #{amountType}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_amount_detail
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqsoft.tongji.model.ProjectAmountDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project_amount_detail (project_id, amount_type, amount, 
      pay_time, remark, AddTime, 
      AddBy, UpdateTime, UpdateBy
      )
    values (#{projectId,jdbcType=INTEGER}, #{amountType,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{payTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{addby,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wqsoft.tongji.model.ProjectAmountDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project_amount_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="amountType != null" >
        amount_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="addtime != null" >
        AddTime,
      </if>
      <if test="addby != null" >
        AddBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="amountType != null" >
        #{amountType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addby != null" >
        #{addby,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqsoft.tongji.model.ProjectAmountDetail" >
    update project_amount_detail
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="amountType != null" >
        amount_type = #{amountType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        AddTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addby != null" >
        AddBy = #{addby,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqsoft.tongji.model.ProjectAmountDetail" >
    update project_amount_detail
    set project_id = #{projectId,jdbcType=INTEGER},
      amount_type = #{amountType,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      AddTime = #{addtime,jdbcType=TIMESTAMP},
      AddBy = #{addby,jdbcType=INTEGER},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>